<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shared/Layout}">
	
	<body>
	
		<div class="pcoded-inner-content"  layout:fragment="title_content">
		
			<h5>Listado de usuario</h5>
			<a th:href = "@{'/users/adduser'}" class = "btn btn-success">Nuevo</a>
			
		</div>
		
		<div class="pcoded-inner-content"  layout:fragment="page_content">
		
									<div class="table-responsive">
										<div th:if="${not #lists.isEmpty(users)}" th:remove="tag">
											<table id="tablausuario" class="table table-striped table-hover dt-responsive display nowrap" >
												<thead class="thead-dark">
													<tr>
														<th>Id</th>
														<th>Name</th>
														<th>team Name</th>
														<th>Salary</th>
														<th>op</th>									
													</tr>
												</thead>
												<tbody>
													<tr data-th-each="user : ${users}">
														<td th:text="${user.id}">id</td>
														<td th:text="${user.name}" ></td>
														<td th:text="${user.teamName}" ></td>
														<td th:text="${user.salary}"></td>
					
														<td>
														
															<a class="btn waves-effect waves-light btn-success" th:href="@{'/users/showuser/' + ${user.id}}">Ver</a>
															<!--<a class="btn waves-effect waves-light btn-info" th:href="@{'/users/edit_user/' + ${user.username}}"><i class="fa fa-pencil"></i></a>
															<a class="btn waves-effect waves-light btn-danger" th:href="@{'/users/delete_user/' + ${user.username}}"><i class="fa fa-trash"></i></a>			 -->				
														</td>
													</tr>
								
												</tbody>
											</table>
										</div>
									</div>				
		
		</div>
		
		<div class="pcoded-inner-content"  layout:fragment="footer_content">
		
			<p>Se usa Spring Boot y Mongo DB</p>
		
		</div>		
		
		
	</body>
	
</html>













<!-- 


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
		<!-- Latest compiled and minified CSS 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<body>
		
		<div class= "container">
			
			<div class ="row justify-content-between">
				
				<div class = "col-md-6">
				
							<div class="card">
								<div class="card-header">
									<h5>Listado de usuario</h5>
									
									<a th:href = "@{'/users/adduser'}" class = "btn btn-success">Nuevo</a>
								</div>
								
								<div class="card-block">
								
									<div class="table-responsive">
										<div th:if="${not #lists.isEmpty(users)}" th:remove="tag">
											<table id="tablausuario" class="table table-striped table-hover dt-responsive display nowrap" >
												<thead class="thead-dark">
													<tr>
														<th>Id</th>
														<th>Name</th>
														<th>team Name</th>
														<th>Salary</th>
														<th>op</th>									
													</tr>
												</thead>
												<tbody>
													<tr data-th-each="user : ${users}">
														<td th:text="${user.id}">id</td>
														<td th:text="${user.name}" ></td>
														<td th:text="${user.teamName}" ></td>
														<td th:text="${user.salary}"></td>
					
														<td>
														
															<a class="btn waves-effect waves-light btn-success" th:href="@{'/users/showuser/' + ${user.id}}">Ver</a>
															<a class="btn waves-effect waves-light btn-info" th:href="@{'/users/edit_user/' + ${user.username}}"><i class="fa fa-pencil"></i></a>
															<a class="btn waves-effect waves-light btn-danger" th:href="@{'/users/delete_user/' + ${user.username}}"><i class="fa fa-trash"></i></a>					
														</td>
													</tr>
								
												</tbody>
											</table>
										</div>
									</div>					
                                   
								</div>
							</div>
					
				
				</div>
				
			</div>
			
		</div>
		
	
			<!-- Latest compiled JavaScript 
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</body>
</html>-->