<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shared/Layout}">
	
	<body>
	
		<div class="pcoded-inner-content"  layout:fragment="title_content">
		
			<h1> Home</h1>
		
		</div>
		
		<div class="pcoded-inner-content"  layout:fragment="page_content">
		
			<h1> Bienvenido al proyecto de pruebas de IGF115 con PRN315</h1>
		
		</div>
		
		<div class="pcoded-inner-content"  layout:fragment="footer_content">
		
			<p>Se usa Spring Boot y Mongo DB</p>
		
		</div>		
		
		
	</body>
	
</html>